<% if user_signed_in? %>
  <% if article.favorited_by?(current_user) %>
    <p><%= link_to "いいね解除", article_favorites_path(article), method: :delete, remote: true %></p>
  <% else %>
    <p><%= link_to "いいねする", article_favorites_path(article), method: :post, remote: true %></p>
  <% end %>
<% end %>