<h3>記事一覧</h3>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <% if @search_articles %>
    <%= render "article_table", articles: @search_articles %>
  <% else %>
    <%= render "article_table", articles: @articles %>
  <% end %>
  </div>
</div>