<div class="row col-xs-12">
  <h1 class="title text-center">more clean</h1>
  <div class="row col-xs-5 col-xs-offset-7 about">
    <p>このサイトは掃除に関する情報を共有できるサイトになっています。<p>
    <p>日々掃除をする中で、落ちない汚れに遭遇した時、頑固な汚れを落とした時こちらで検索、投稿してもらえると嬉しいです。</p>
    <p>登録しなくても利用できますが、会員登録することで記事の投稿、記事へのコメント、いいねする、いいねランキング閲覧機能も利用可能になります。</p>
    <ul>
      <li><%= link_to "記事一覧", articles_path, class: "btn btn-default" %></li>
      <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %></li>
    </ul>
  </div>
</div>