<% if user_signed_in? %>
  <%= form_for [article, article_comment], remote: true do |f| %>
    <div class="row">

      <div class="col-xs-7 col-xs-offset-3 form-group">
        <%= f.text_area :comment, class: "form-control" %>
      </div>
        
      <div class="col-xs-2 from-group">
        <%= f.submit "コメントする", class: "btn-sm btn-default" %>
      </div>

    </div>
  <% end %>
<% end %>